a {
    color: #FFD95A;
}

.companylogo {
    max-width: 50vh;
}

.lastname {
    color: #FFD95A;
}





.navbar {
    background-color: #AD12DB;
    background-color: #1C36F0;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #1C36F0;
   
}

